html, body {
    margin: 0;
    height: 100%;
}
div {
	text-align:center;
}
p,a {
	font-size: 30px;
}
div#loading {
    width: 100px;
    margin:0 auto;
    height: 100px;
    display: none;
}
h2,h4{
	text-align:center;
}
div#descript {
	width:600px;
	margin: 0 auto;
	float:center;
}
div#submit{
	text-align: center;
	float:center;
}
div#send{
    
    text-align: center;
    margin:0 auto;
    float:center;
}
#send{
	width: 50%;
}

.downloadLink {
	padding-top: 100px;
}

.allInstructions {
	width: 900px;
	height: 100%;
	margin: 0 auto
}

div .indivInstruction {
	float: left;
	width: 200px;
	padding-left: 50px;
	padding-right: 50px;
}

.instructionBody {
	padding-top: 150px;
}

.instruction {
	font-size: 14px;
}
div#help{
	float:left;
	margin-left:50px;
}
div#age{
	margin:auto;
}

/*http://matthewjamestaylor.com/blog/equal-height-columns-2-column.htm*/
/* Start of Column CSS */
#cont2 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background:#ffa7a7; /* column 2 background colour */
}
#cont1 {
	float:left;
	width:100%;
	position:relative;
	right:50%;
	background:#fff689; /* column 1 background colour */
}
#col1 {
	float:left;
	width:46%;
	position:relative;
	left:52%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:46%;
	position:relative;
	left:56%;
	overflow:hidden;
}
