<!DOCTYPE html>
<html>
  <head>
    <title>Teacher Menu</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <form action="http://localhost:5000/result" method="POST">
    <div id=category-d>
     <p> Subject: </p>
      <input type="text" name="category" placeholder="Math" required><br>
    </div>
    <div id=difficulty-d>
     <p> Difficulty: </p>
      <input type="radio" name="difficulty" value="Easy" required>Easy<br>
      <input type="radio" name="difficulty" value="Medium" required>Medium<br>
      <input type="radio" name="difficulty" value="Hard" required>Hard<br>
    </div>
    <div id=age-d>
      <p>Age: </p>
      <input type="radio" name="age" value="Preschool" required>Preschool<br>
      <input type="radio" name="age" value="Elementary" required>Elementary<br>
      <input type="radio" name="age" value="Adolescent" required>Adolescent<br>
      <input type="radio" name="age" value="Adult" required>Adult<br>
    </div>
    <div id=keyword-d>
      <p>Keywords: </p>
      <input type="text" name="keywords" placeholder="Algebra, Addition, Subtraction">
    </div>
    <br>
    <div id=num-vids-d>
      <p> How many videos? </p>
      <select name=num-vids>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
      </select>
    </div>
    <br>
    <div id=length-d>
      <p> How long? </p>
      <select name=length>
        <option value="any">Any</option>
        <option value="short">Less than 4 Mins</option>
        <option value="medium">4-20 Mins</option>
        <option value="long">20+ Mins</option>
      </select>
    </div>
    <br><br>
    <div>
      <input type="submit" value="Submit">
    </div>
    </form>
  </body>
</html>
