<!DOCTYPE html>
<html>
	<head>
		<title>Teacher Menu</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
		<div class="downloadLink">
	        <a href="/static/content.zip">DOWNLOAD VIDS</a>
	    </div>
	    <div class="instructionBody">
	    	<div>
	    		<p>Instructions</p>
	    	</div>
	    	<div class="allInstructions">
		    	<div class="indivInstruction">
		    		<h3>Step 1</h3>
		    		<p class="instruction">After clicking the "Download Vids" button located above, transfer the file titled "content.zip" to a flashdrive.</p>
		    	</div>
		    	<div class="indivInstruction">
		    		<h3>Step 2</h3>
		    		<p class="instruction">Bring your flashdrive to the computer on which you wish to play your content. Transfer "content.zip" to where you would like to store it on the new computer.</p>
		    	</div>
		    	<div class="indivInstruction">
		    		<h3>Step 3</h3>
		    		<p class="instruction">Double click on the file called "content.zip." Then, double click on the folder titled "content." Finally, double click on the file titled "vidplayer.html." Enjoy!</p>
		    	</div>
		    </div>
		</div>
	</body>
</html>

