<!doctype html>
  	<head>
	    <title>Pick ya vids</title>
	    <meta charset="utf-8">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script type="text/javascript">
	        function loading(){
	            console.log("loading!")
	            $("#loading").show();
	            $("#content").hide();       
	        }
		</script>
	    <link rel="stylesheet" type="text/css" href="static/style.css">
	 </head>
	<body>
		<form action="http://localhost:5000/download" method='POST' id="content" >
		{% for vid in videos %}
			{{vid.snippet.title}}
			<iframe width="560" height="315" src="https://www.youtube.com/embed/{{vid.id.videoId}}" frameborder="0" allowfullscreen></iframe>
	       <input type=checkbox name = "video" value={{vid.id.videoId}}>
	       <br>
	    {% endfor %}
	    <input type=submit value = Submit onclick="loading()">
	    </form>
    	<div id=loading>
	      	<p>
	        	CHILL A BIT WHILE YOUR VIDS LOAD
	      	</p>
		</div>
	</body>