<!doctype html>
  	<head>
	    <title>Pick ya vids</title>
	    <meta charset="utf-8">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script type="text/javascript">
	        function loading(){
	            console.log("loading!")
	            $("#loading").show();
	            $("#content").hide();  
	            $("#query").hide();
	            $("#title").hide(); 
	            $("#back").hide();    

	        }
	        function show_descript(){
	        	 document.getElementById("Description").style.display = "block";
	        }
		</script>
	    <link rel="stylesheet" type="text/css" href="static/select_style.css">
	 </head>
	<body>

		<FORM><INPUT id="back" Type="button" VALUE="Edit" onClick="history.go(-1);return true;"></FORM>
		<h2 id="title"> Select Which Videos to Download </h2>
		<form action="http://localhost:5000/download?quality="{{query[5]}} method='POST' id="content" >
			    <div id=submit> <input id=download type=submit value = Download! onclick="loading()" style = "font-size:50px"></div>
		{% for vid in videos %}
		<div id=check><input type=checkbox name = "video" value={{vid.id.videoId}}></div>
		<div id = vidframe>
			<h4>{{vid.snippet.title}}</h4>
	
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{vid.id.videoId}}" frameborder="0" allowfullscreen></iframe>
				<br>
				<div id=descript>{{vid.snippet.description}}</div>

				<br>
		      	
		    </div>
	    {% endfor %}
	    <br>

	    </form>
	    <div id="query">
	    	<h4> Your Query </h4>
	    	<p> Subject: {{query[0]}} </p>
	    	<p> Age: {{query[1]}} </p>
	    	<p> Keywords: {{query[2]}} </p>
	    	<p> Number of Videos: {{query[3]}} </p>
	    	<p> Length: {{query[4]}} </p>
	    	<p> Quality: {{query[5]}} </p>
	    </div>
    	<div id=loading>
	      	<p>
	        	CHILL A BIT WHILE YOUR VIDS LOAD
	      	</p>
		</div>
	</body>